
<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Books library &copy;this blog created by Rushikesh Tole and Gaurav Mane </p>
      <p class="mb-0"><a>Visit our github</a><a href="https://github.com/garavkisanmane1"> gaurav </a>
      <a href="http://github.com/Rushitole"> Rushikesh </a></p>
      
      
      <h5>

        Thanks for visiting my blog💖
      </h5>

    </div>
  </footer>